<nav class="sidebar collapsed">
    <div class="sidebar-container">
        <svg id="navbar-toggler-icon" xmlns="http://www.w3.org/2000/svg" width="3.30em" height="3.30em" viewBox="0 0 20 20" fill="white">
            <path fill-rule="evenodd" d="M2 5h16v2H2V5zm0 4h16 v2H2V9zm0 4h16v2H2v-2z"></path>
        </svg>   
        <div id="sidebar-container" class="sidebar-container ">
        <a class="navbar-brand" href="#"><img src="/static/assets/img/Icons/opnlend_green.png" width="100" height="100" alt="Opnlend Green Icon"></a>
            <ul class="navbar-nav">
                <li><a class="" href="{% url 'Dashboard' %}"><img class="sidebar-icon" src="/static/assets/img/Sidebar/Dashboard.png" alt="Dashboard" /><span>Dashboard</span></a> 
                </li>
                <li><a class="" href="{% url 'Relationships' %}"><img class="sidebar-icon" src="/static/assets/img/Sidebar/Global-Relationships.png" alt="Relationships" /><span>Relationships</span></a>
                </li>
                <li><a  class="" href ="{% url 'Financials' %}"><img class="sidebar-icon" src="/static/assets/img/Sidebar/Financials.png" alt="Financials" /><span>Financials</span></a>
                </li>
                <li> <a class="" href="{% url 'Loans' %}"><img class="sidebar-icon" src="/static/assets/img/Sidebar/Loans.png" alt="Loans" /><span>Loans</span></a>
                </li>
                <li><a class=""><img class="sidebar-icon" src="/static/assets/img/Sidebar/Collateral.png" alt="Collateral" /><span>Collateral</span></a>
                </li>
                <li><a class=""><img class="sidebar-icon" src="/static/assets/img/Sidebar/Deposits.png" alt="Deposits" /><span>Deposits</span></a>
                </li>
                <li><a class=""><img class="sidebar-icon" src="/static/assets/img/Sidebar/Profitability.png" alt="Profitability" /><span>Profitability</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>