.Relationship-Div, .Background-Div {
  padding-right: 20%;
  padding-left: 20%;
  padding-bottom: 1%;
  border-bottom-color: rgb(0,0,0);
}

.sources-and-uses-table, .fee-schedule-table {
  min-width: 95%;
}

.fee-schedule-table {
  max-width: 65%;
}

.sources-and-uses-container, .sources-and-uses-column, .fee-schedule-column {
  min-width: 100%;
  max-width: 100%;
  padding: 0.9rem;
}

.Text-Input-All-In-Rate {
  border-radius: 10px;
  height: 38px;
  max-width: 40%;
  box-shadow: 0px 0px 3px 1px;
}

.Form-Field-Div-Tickler-Filter, .Form-Field-Div-Tickler-Document-List {
  height: 50px;
}

.Form-Field-Div-Rate-Guaranty-Applied {
  height: 75px;
  display: inline-flex;
  min-width: 30%;
  max-width: 40%;
  margin-right: 15px;
}

.Form-Field-Div-Primary-Borrower {
  height: 75px;
  display: inline-flex;
  min-width: 65%;
  max-width: 65%;
  margin-right: 15px;
}

.Text-Input-Loan-Structure, .Text-Input-Other-Repayment-Description {
  border-radius: 10px;
  min-height: 48px;
  max-width: 100%;
  box-shadow: 0px 0px 3px 1px;
  overflow: auto;
  resize: vertical;
}

.Form-Field-Div-Base-Rate, .Form-Field-Div-Rate-Spread, .Form-Field-Div-All-In-Rate {
  height: 75px;
  display: inline-flex;
  min-width: 30%;
  max-width: 30%;
  margin-right: 15px;
}

.Form-Field-Div-Interest-Type {
  display: block;
  min-width: 30%;
  max-width: 40%;
  margin-right: 15px;
}

.Form-Field-Div-Term-and-Amt {
  height: 75px;
  display: inline-flex;
  min-width: 40%;
  margin-right: 15px;
}

.Form-Field-Div-Rate-Period-Selection {
  height: 100%;
  display: inline-flex;
  min-width: 40%;
  margin-right: 15px;
}

.Interest-Rate-Header {
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom: -10px;
  font-size: 15px;
}

.Combined-Section-New-Loan-Request, .Combined-Section-Existing-Loans {
  box-shadow: 0px 0px 6px 4px;
  border-radius: 10px;
  margin-top: 30px;
  background: rgb(65,107,114);
  border-radius: 25px;
  padding-bottom: 20px;
}

.loan-tab-items.nav-justified {
  box-shadow: 0px 0px 3px 1px;
  border-radius: 10px;
}

.loan-tab-items {
  box-shadow: 0px 0px 3px 1px;
  border-radius: 10px;
}

#Loan_Amount {
  max-width: 50%;
}

#Loan_Term_Months, #Loan_Term_Amortization, #Loan_Amount {
  text-align: right;
}

.sources-and-uses-row {
  height: 16px;
  font-size: 20px;
}

.sources-and-uses-header-and-footer {
  font-weight: bold;
  height: 16px;
  font-size: 20px;
}

.source-description, .use-description {
  width: 33%;
  height: 16px;
}

.fee-description {
  width: 40%;
  height: 16px;
  text-align: left;
}

.fee-amount {
  width: 20%;
}

.source-amount, .use-amount {
  width: 13%;
}

delete-icon-column {
  width: 2%;
}

.delete-icon-column-fee {
  width: 10%;
}

.fee-schedule-row {
  max-width: 85%;
}

.fee-schedule-column {
  min-width: 100%;
}

.Interest-Rate-Period-Group {
  display: inline-block;
}

.collateral-table-pledgor-cell {
  text-align: left;
}

.net-collateral-value-cell {
  text-align: right;
}

.Interest-Rate-Period-Group {
  box-shadow: 0px 0px 7px 1px;
  border-radius: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-right: 0px;
  margin-right: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.Interest-Rate-Fields-Div {
  box-shadow: 0px 0px 7px 1px;
  border-radius: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: -5px;
}

.Repayment-Pricing-Period-Header {
  text-indent: 20px;
  padding-right: 0px;
  padding-top: 5px;
  margin-bottom: 0px;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 0px;
  border-radius: 10px;
  background: #3f6b71;
  color: rgb(255,255,255);
  padding-bottom: 10px;
  box-shadow: 0px 0px 2px 1px rgb(0,0,0);
}

.Repayment-and-Pricing-Period-Button-Group {
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

.Pricing-Period-Group {
  box-shadow: 0px 0px 3.5px 1.5px rgba(0,0,0,0.9);
  border-radius: 20px;
  background: #e7eded;
  position: relative;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.75);
  border-radius: 15px;
}

#add-pricing-period {
  width: 50%;
  height: 40px;
  background: var(--bs-primary);
  border-radius: 10px;
  color: rgb(255,255,255);
  font-weight: bold;
  position: absolute;
  left: 0;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
}

#delete-pricing-period {
  width: 50%;
  height: 40px;
  background: var(--bs-danger-text-emphasis);
  border-radius: 10px;
  color: rgb(255,255,255);
  font-weight: bold;
  position: absolute;
  right: 0;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
}

.Sources-and-Uses-Add-Row-Button {
  width: 65px;
  height: 75px;
  background: var(--bs-info-text-emphasis);
  border-radius: 10px;
  box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.9);
  color: rgb(255,255,255);
  padding: 0px;
  margin-left: 10px;
  font-weight: bold;
  border-width: 1px;
  backdrop-filter: blur(0px);
  margin-top: 20px;
  margin-right: 0px;
}

.Sources-and-Uses-Add-Row-Button {
  width: 65px;
  height: 75px;
  background: var(--bs-info-text-emphasis);
  border-radius: 10px;
  box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.9);
  color: rgb(255,255,255);
  padding: 0px;
  margin-left: 10px;
  font-weight: bold;
  border-width: 1px;
  backdrop-filter: blur(0px);
  margin-top: 20px;
  margin-right: 0px;
}

.Fee-Add-Row-Button {
  width: 65px;
  height: 75px;
  background: var(--bs-info-text-emphasis);
  border-radius: 10px;
  box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.9);
  color: rgb(255,255,255);
  padding: 0px;
  margin-left: 10px;
  font-weight: bold;
  border-width: 1px;
  backdrop-filter: blur(0px);
  margin-top: 65px;
  margin-right: 0px;
}

.Form-Field-Div-Guaranty {
  width: 40%;
  display: inline-flex;
}

.Tickler-Pane-Header {
  margin-top: 10px;
  text-align: center;
  background: rgb(255,255,255);
  color: var(--bs-body-color);
  border-radius: 10px;
  height: 38px;
  width: 100%;
  padding: 0px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 1px;
}

.Loan-Request-Mgmt-Edit-Icon {
  font-size: 35px;
  color: rgb(22,74,82);
  padding-right: 2.5px;
  padding-left: 2.5px;
  width: 35px;
  height: 35px;
  box-shadow: 0px 0px rgb(0,0,0);
  font-size: 35px;
  text-shadow: 1px 3px 1px rgba(0,0,0,0.75);
  cursor: pointer;
}

.Loan-Request-Mgmt-Edit-Icon:active, .Loan-Request-Mgmt-Delete-Icon:active, .Loan-Request-Mgmt-Detailed-Summary-Icon:active {
  box-shadow: 0px 0px 2px 0px rgb(0,0,0) inset;
  transform: translateY(2px);
}

.Loan-Request-Mgmt-Delete-Icon {
  font-size: 35px;
  color: rgb(92,30,24);
  padding-right: 2.5px;
  padding-left: 2.5px;
  width: 35px;
  height: 35px;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  cursor: pointer;
}

.Loan-Request-Mgmt-Detailed-Summary-Icon {
  font-size: 40px;
  margin-bottom: 17.5px;
  cursor: pointer;
}

/* Base styles */

.dropdown {
  position: relative;
  display: block;
}

.dropbtn {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  min-width: 50%;
  height: 38px;
}

.dropbtn::after {
  content: '▼';
  right: 10px;
  padding-left: 5px;
  font-size: 9px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Style changes for hover & focus on the dropdown button */

.dropbtn:hover, .dropbtn:focus {
  background-color: #ffffff;
}

/* Dropdown content container */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.9);
}

.submenu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 340px;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.9);
}

/* Submenu link styles */

.submenu-link {
  position: relative;
  display: block;
  padding: 12px 16px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

/* Submenu container */

.submenu {
  left: 100%;
  top: 0;
}

/* Second-level submenu container */

.submenu[data-level="2"] {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 340px;
  border-radius: 10px;
  z-index: 2;
  top: 0;
  left: 100%;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.9);
}

/* Third-level submenu container */

.submenu[data-level="3"] {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 350px;
  border-radius: 10px;
  z-index: 3;
  top: 0;
  left: 100%;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.9);
}

.form-select {
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.9);
}

/* Style for links within dropdown-content and submenu */

.dropdown-content a, .submenu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Hover styles for links */

.dropdown-content a:hover, .submenu a:hover, .submenu-link[data-level="1"]:hover, .submenu-link[data-level="2"]:hover, .submenu-link[data-level="3"]:hover {
  background-color: rgba(162,183,186,0.3);
}

/* Show the submenu on hover over the submenu-link */

.submenu-link:hover > .submenu, .submenu-link:focus > .submenu {
  display: block;
}

.submenu-link[data-level="1"]::after, .submenu-link[data-level="2"]::after, .submenu-link[data-level="3"]::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(45deg);
  margin-left: 6px;
}

/* Clear styling for when submenu-link is not a link */

.submenu-link:not(a) {
  background-color: transparent;
  cursor: default;
}

.Pricing-Period-Group-Button-Wrapper {
  margin-top: 35px;
  border-radius: 15px;
  padding-bottom: 50px;
}

#Loan-Amortization {
  display: none;
}

.Form-Field-Div-Repayment-Description {
  display: none;
}

.Repayment-Pricing-Period-Div {
  display: inline-flex;
  min-width: 100%;
  background: var(--bs-info-text-emphasis);
  border-radius: 10px;
  box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.9);
  color: rgb(255,255,255);
  padding-left: 10px;
  font-weight: bold;
}